 {"openapi":"3.0.1","info":{"title":"OpenAPIBackendDemo","version":"v0"},"servers":[{"url":"https://int-wso2.muface.es/apis/atomsamplebackendapi/v0"},{"url":"http://int-wso2.muface.es/apis/atomsamplebackendapi/v0"}],"security":[{"default":[]}],"paths":{"/organismos":{"put":{"tags":["organismo-api"],"operationId":"actualizar2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganismoDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"},"post":{"tags":["organismo-api"],"operationId":"crear","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganismoDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}},"/organismos/{id}":{"get":{"tags":["organismo-api"],"operationId":"consultaPorId","parameters":[{"name":"id","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"object"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"},"put":{"tags":["organismo-api"],"operationId":"actualizar","parameters":[{"name":"id","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"object"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganismoDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"},"delete":{"tags":["organismo-api"],"operationId":"borrar","parameters":[{"name":"id","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"object"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}},"/organismos/put/emptyObject":{"put":{"tags":["organismo-api"],"operationId":"actualizarWrapper","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WrapperDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}},"/expedientes/{id}":{"get":{"tags":["expediente-api"],"operationId":"consultaPorId_1","parameters":[{"name":"id","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"object"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"},"put":{"tags":["expediente-api"],"operationId":"actualizar_1","parameters":[{"name":"id","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"object"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpedienteDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}},"/diplomas/{id}":{"get":{"tags":["diploma-api"],"operationId":"consultaPorId_2","parameters":[{"name":"id","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"object"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"},"put":{"tags":["diploma-api"],"operationId":"actualizar_2","parameters":[{"name":"id","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"object"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiplomaDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"},"delete":{"tags":["diploma-api"],"operationId":"borrarPorId","parameters":[{"name":"id","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"object"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}},"/customers/{id}":{"get":{"tags":["customer-api"],"operationId":"consultaById","parameters":[{"name":"id","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"object"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"},"put":{"tags":["customer-api"],"operationId":"actualizar_3","parameters":[{"name":"id","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"object"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"},"delete":{"tags":["customer-api"],"operationId":"borrarCustomerUseCase","parameters":[{"name":"id","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"object"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}},"/ciudades/{id}":{"get":{"tags":["ciudad-api"],"operationId":"consultaById_1","parameters":[{"name":"id","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"object"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"},"put":{"tags":["ciudad-api"],"operationId":"actualizar_4","parameters":[{"name":"id","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"object"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CiudadDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}},"/ciudades/update-all":{"put":{"tags":["ciudad-api"],"operationId":"actualizarAll","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CiudadDTO"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}},"/usuarios":{"post":{"tags":["usuario-api"],"operationId":"insertar","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UsuarioDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}},"/organismosSOA":{"post":{"tags":["organismo-apisoa"],"operationId":"llamadaSOA","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganismoDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}},"/organismos/post/expedientes":{"post":{"tags":["organismo-api"],"operationId":"crearBorrador","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GuardarBorradorRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}},"/organismos/post/emptyObject":{"post":{"tags":["organismo-api"],"operationId":"insertarWrapper","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WrapperDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}},"/organismos/debugSecurity":{"post":{"tags":["organismo-api"],"operationId":"debugSecurityCtx","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganismoDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}},"/organismos/consulta-paginada":{"post":{"tags":["organismo-api"],"operationId":"consultaPaginadaPorCampos","parameters":[{"name":"pageable","in":"query","required":true,"style":"form","explode":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganismoDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}},"/expedientes":{"post":{"tags":["expediente-api"],"operationId":"crear_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpedienteDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}},"/dynatrace/enviarDatos":{"post":{"tags":["dynatrace-api"],"operationId":"enviarDatos","parameters":[],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}},"/dynatrace/callApi":{"post":{"tags":["dynatrace-api"],"operationId":"callApi","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MarvelDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}},"/diplomas":{"post":{"tags":["diploma-api"],"operationId":"crear_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiplomaDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}},"/diplomasSOA":{"post":{"tags":["diploma-apisoa"],"operationId":"llamadaSOA_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiplomaDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}},"/diplomas/consulta":{"post":{"tags":["diploma-api"],"operationId":"consultaPorCampos","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiplomaDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}},"/diplomas/consulta-paginada":{"post":{"tags":["diploma-api"],"operationId":"consultaPaginadaPorCampos_1","parameters":[{"name":"pageable","in":"query","required":true,"style":"form","explode":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiplomaDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}},"/customers":{"post":{"tags":["customer-api"],"operationId":"insertar_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}},"/customers/consulta-paginada":{"post":{"tags":["customer-api"],"operationId":"consultaPaginadaPorCampos_2","parameters":[{"name":"pageable","in":"query","required":true,"style":"form","explode":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}},"/ciudades":{"post":{"tags":["ciudad-api"],"operationId":"insertar_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CiudadDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"},"delete":{"tags":["ciudad-api"],"operationId":"borrarCiudadesUseCase","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CiudadDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}},"/ciudades/consulta-paginada":{"post":{"tags":["ciudad-api"],"operationId":"consultaPaginadaPorCampos_3","parameters":[{"name":"pageable","in":"query","required":true,"style":"form","explode":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CiudadDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}},"/ciudades/consulta-exacta":{"post":{"tags":["ciudad-api"],"operationId":"consultaPorCampos_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CiudadDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}},"/ciudades/api/uploads/crear-solicitud":{"post":{"tags":["ciudad-api"],"operationId":"upload","parameters":[{"name":"nombre","in":"query","required":true,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"provincia","in":"query","required":true,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"tipo","in":"query","required":true,"style":"form","explode":true,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["acreditacion","solicitud"],"type":"object","properties":{"solicitud":{"type":"string","format":"binary"},"acreditacion":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}},"/usuarios/{id}":{"get":{"tags":["usuario-api"],"operationId":"consultaById_2","parameters":[{"name":"id","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"object"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}},"/organismos/objectmapper":{"get":{"tags":["organismo-api"],"operationId":"debugObjectMapper","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}},"/organismos/consulta-all-paginada":{"get":{"tags":["organismo-api"],"operationId":"consultaPaginadaTodos","parameters":[{"name":"pageable","in":"query","required":true,"style":"form","explode":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}},"/organismos/all":{"get":{"tags":["organismo-api"],"operationId":"consultaTodos","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}},"/diplomas/montarfrase":{"get":{"tags":["diploma-api"],"operationId":"montarfrase","parameters":[{"name":"name","in":"query","required":true,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"genero","in":"query","required":true,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"localidad","in":"query","required":true,"style":"form","explode":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}},"/ciudades/saludar":{"get":{"tags":["ciudad-api"],"operationId":"montarfrase_1","parameters":[{"name":"name","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"genero","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"localidad","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}},"/ciudades/consulta-all":{"get":{"tags":["ciudad-api"],"operationId":"consulta","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}}},"components":{"schemas":{"OrganismoDTO":{"required":["estadoORegion","nombreCompleto"],"type":"object","properties":{"mensajeRetorno":{"type":"string"},"id":{"type":"object"},"nombreCompleto":{"type":"string"},"estadoORegion":{"type":"string"},"localDate":{"type":"string","format":"date"},"bigInteger":{"type":"integer"},"createdAt":{"type":"string","format":"date-time"},"datetimePr":{"type":"string","format":"date-time"}}},"WrapperDTO":{"type":"object","properties":{"mensajeRetorno":{"type":"string"},"id":{"type":"object"},"campo1":{"type":"string"},"campo2":{"type":"string","format":"date-time"},"campo3":{"type":"string","format":"date"}}},"CiudadanoDto":{"type":"object","properties":{"mensajeRetorno":{"type":"string"},"id":{"type":"integer","format":"int64"},"nombreCiudadano":{"type":"string"},"apellidosCiudadano":{"type":"string"},"cifCiudadano":{"type":"string"}}},"DelegacionDto":{"type":"object","properties":{"mensajeRetorno":{"type":"string"},"id":{"type":"integer","format":"int64"},"detail":{"type":"string"}}},"ExpedienteDto":{"type":"object","properties":{"mensajeRetorno":{"type":"string"},"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"organismosFirmantes":{"type":"array","items":{"$ref":"#/components/schemas/OrganismoFirmanteDto"}},"resoluciones":{"type":"array","items":{"$ref":"#/components/schemas/ResolucionDto"}},"ciudadano":{"$ref":"#/components/schemas/CiudadanoDto"}}},"OrganismoFirmanteDto":{"type":"object","properties":{"mensajeRetorno":{"type":"string"},"id":{"type":"integer","format":"int64"},"description":{"type":"string"},"delegaciones":{"type":"array","items":{"$ref":"#/components/schemas/DelegacionDto"}}}},"ResolucionDto":{"type":"object","properties":{"mensajeRetorno":{"type":"string"},"id":{"type":"integer","format":"int64"},"tipoResolucion":{"type":"string"},"fechaEmision":{"type":"string","format":"date-time"},"fecIniPeriodoAlegaciones":{"type":"string","format":"date-time"},"fecFinPeriodoAlegaciones":{"type":"string","format":"date-time"},"textoJustificativo":{"type":"string"},"aprobatoria":{"type":"integer","format":"int32"}}},"DiplomaDTO":{"type":"object","properties":{"mensajeRetorno":{"type":"string"},"id":{"type":"object"},"idCliente":{"type":"integer","format":"int64"},"nombreCompleto":{"type":"string"},"regionOComarca":{"type":"string"},"titulacion":{"type":"string"}}},"CustomerDTO":{"type":"object","properties":{"mensajeRetorno":{"type":"string"},"id":{"type":"string"},"nombre":{"type":"string"},"titulacionOficial":{"type":"string"},"pais":{"type":"string"}}},"CiudadDTO":{"type":"object","properties":{"mensajeRetorno":{"type":"string"},"id":{"type":"integer","format":"int64"},"nombre":{"type":"string"},"datetimePr":{"type":"string","format":"date-time"}}},"DomicilioDTO":{"type":"object","properties":{"mensajeRetorno":{"type":"string"},"id":{"type":"integer","format":"int64"},"calle":{"type":"string"},"numero":{"type":"string"},"puerta":{"type":"string"}}},"IdentidadDTO":{"type":"object","properties":{"mensajeRetorno":{"type":"string"},"id":{"type":"integer","format":"int64"},"dni":{"type":"string"},"version":{"type":"integer","format":"int64"},"numeroSoporte":{"type":"string"}}},"UsuarioDTO":{"type":"object","properties":{"mensajeRetorno":{"type":"string"},"id":{"type":"integer","format":"int64"},"domicilio":{"$ref":"#/components/schemas/DomicilioDTO"},"identidad":{"$ref":"#/components/schemas/IdentidadDTO"},"nombre":{"type":"string"},"apellido1":{"type":"string"},"apellido2":{"type":"string"},"sexo":{"type":"integer","format":"int32"}}},"GuardarBorradorRequest":{"required":["tipoExpediente","titulo"],"type":"object","properties":{"mensajeRetorno":{"type":"string"},"tipoExpediente":{"type":"integer","format":"int64"},"titulo":{"maxLength":255,"minLength":5,"type":"string"},"datosTitular":{"type":"string"},"interesado":{"type":"string"},"idEntidadSanitaria":{"type":"integer","format":"int64"},"entidadSanitariaReclamada":{"type":"string"},"fechaHechoCausante":{"type":"string","format":"date"},"formularioReclamacion":{"type":"string"},"direccionPostal":{"type":"string"},"emailAviso":{"type":"string"},"id":{"type":"object"}}},"Pageable":{"type":"object","properties":{"page":{"minimum":0,"type":"integer","format":"int32"},"size":{"minimum":1,"type":"integer","format":"int32"},"sort":{"type":"array","items":{"type":"string"}}}},"MarvelDTO":{"type":"object","properties":{"mensajeRetorno":{"type":"string"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"id":{"type":"object"}}},"PageableObject":{"type":"object","properties":{"pageSize":{"type":"integer","format":"int32"},"pageNumber":{"type":"integer","format":"int32"},"paged":{"type":"boolean"},"unpaged":{"type":"boolean"},"sort":{"$ref":"#/components/schemas/SortObject"},"offset":{"type":"integer","format":"int64"}}},"SortObject":{"type":"object","properties":{"unsorted":{"type":"boolean"},"sorted":{"type":"boolean"},"empty":{"type":"boolean"}}}},"securitySchemes":{"default":{"type":"oauth2","flows":{"implicit":{"authorizationUrl":"https://int-wso2.muface.es/authorize","scopes":{}}}}}}}