@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-surface text-on-surface antialiased font-sans;
  }
}

@layer components {
  /* Custom Utilities */
  .glass-header {
    @apply bg-white/80 backdrop-blur-xl sticky top-0 z-50;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
